<p>
  <strong>Name:</strong>
  <%= @competitors.title %>
</p>

<p>
  <strong>Text me plz i am so alone and need companionship:</strong>

</p>

<%= link_to 'Edit', edit_article_path(@competitors) %> |
<%= link_to 'Back', articles_path %>